.container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.content {
    max-width: 70rem;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (width < 400px), (height < 700px) {
    .default-padding {
        padding: 0em;
    }
}

@media (min-width: 600px) and (height >= 1000px) {
    .rewards-icon {
        padding: 8em;
    }
}
.purpose-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

@media (min-width: 600px) {
    .purpose-container {
        justify-content: flex-start;
    }
}

.purpose {
    color: var(--clr-white);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

@media (min-width: 600px) {
    .purpose {
        font-size: 2rem;
    }
}

.input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.enter-zipcode-text {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--clr-white);
    padding: 0.2em;
}

.input,
.search {
    border-radius: 1em;
    height: 2.5em;
}

.input {
    padding: 0.75em;
    width: 10rem;
}

@media (min-width: 600px) {
    .input {
        width: 15rem;
    }
}

.search {
    margin-top: 1.5em;
    width: 5em;
    color: var(--clr-white);
    font-weight: 700;
    background-color: var(--clr-red);
}

@media (min-width: 501px) {
    .search {
        margin-left: 0.5em;
        margin-top: auto;
    }
}

span {
    display: block;
}

@media (min-width: 500px) {
    span {
        display: inline;
    }
}

.input-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 500px) {
    .input-section div {
        display: inline;
    }
}
